<div class="card p-2 m-5" style="width: 18rem;">
  <form action="answer" data-turbo="false">
    <div class="form-group">
      <label for="question">Your question:</label>
      <input type="text" class="form-control" name="question" placeholder="What is your question ?">
    </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
  </form>
</div>
